*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    margin:0;
    padding:0;
}

.toplink{
    width:100%;
    background:#222;
    display:flex;
}

.toplink a{
    flex:1;
    padding:18px;
    text-align:center;
    text-decoration:none;
    color:white;
    font-size:18px;
}

.toplink a:hover{
    background:#444;
}